.service-item {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  &__title {
    position: relative;

    &::before {
      content: '/';
      position: absolute;
      left: -16px;
      color: $secondary;
      font-weight: normal;
    }
  }
}
