$font-family-sans-serif: 'Onest', 'Helvetica', sans-serif;
$body-color: #181726;
$text-muted: #a29fc7;
$yiq-contrasted-threshold: 160;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1360px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1320px,
);

$spacers: (
  10p: 10px,
  20p: 20px,
  30p: 30px,
  50p: 50px,
  80p: 80px,
  100p: 100px,
);

$embed-responsive-aspect-ratios: ((1 1), (6 7));

$font-sizes: (
  12: calc(12rem / 16),
  14: calc(14rem / 16),
  18: calc(18rem / 16),
  20: calc(20rem / 16),
  24: calc(24rem / 16),
  28: calc(28rem / 16),
  32: calc(32rem / 16),
  36: calc(36rem / 16),
  40: calc(40rem / 16),
  48: calc(48rem / 16),
);

$primary: #2a2847;
$secondary: #ff8600;
$dark: #100e23;

$link-color: $secondary;
$headings-font-weight: bold;
$border-radius: 5px;
$border-radius-lg: 15px;

$input-btn-padding-y-lg: 1.5rem;
$input-btn-padding-x-lg: 20px;
$input-btn-font-size-lg: 1rem;

$input-bg: rgba(19, 17, 35, 0.63);
$input-color: #fff;
$input-placeholder-color: $text-muted;
$input-border-color: transparent;

$btn-font-weight: 500;

$modal-header-border-width: 0;
